<header>
    <img src="/imgs/logo.svg" alt="">
</header>

<main>
    <section class="menu">
        <div class="options">
            <div class="option">
                <img src="/imgs/home-icon.svg" alt="">
                <a href="/home">Página Inicial</a>
            </div>
            <div class="option">
                <img src="/imgs/create-icon.svg" alt="">
                <a href="/create">Criar um correio</a>
            </div>
        </div>
        <hr class="divMenu">
        <div class="categories">
            <div class="option">
                <img src="/imgs/categorize-icon.svg" alt="">
                <h5>Categorias</h5>
            </div>
            <div class="category">
                <img src="/imgs/art-icon.svg" alt="">
                <a href="/home/category/Arte">Arte</a>
            </div>
            <div class="category">
                <img src="/imgs/cinema-icon.svg" alt="">
                <a href="/home/category/Cinema e Tv">Cinema e TV</a>
            </div>
            <div class="category">
                <img src="/imgs/science-icon.svg" alt="">
                <a href="/home/category/Ciências">Ciências</a>
            </div>
            <div class="category">
                <img src="/imgs/pop-icon.svg" alt="">
                <a href="/home/category/Cultura POP">Cultura pop</a>
            </div>
            <div class="category">
                <img src="/imgs/sport-icon.svg" alt="">
                <a href="/home/category/Esportes">Esportes</a>
            </div>
            <div class="category">
                <img src="/imgs/humor-icon.svg" alt="">
                <a href="/home/category/Humor">Humor</a>
            </div>
            <div class="category">
                <img src="/imgs/politics-icon.svg" alt="">
                <a href="/home/category/Política">Política</a>
            </div>
            <div class="category">
                <img src="/imgs/business-icon.svg" alt="">
                <a href="/home/category/Negócios">Negócios</a>
            </div>
        </div>
        <hr class="divMenu">
        <div class="logout">
            <div class="option">
                <img src="/imgs/logout-icon.svg" alt="">
                <a href="/logout">Sair</a>
            </div>
        </div>
    </section>

    <!-- Conteúdo do correio -->
    <section class="container">
        <div class="align">
            <!-- Botão de voltar -->
            <div class="back">
                <a href="/home"><img src="/imgs/back_to.svg" alt=""></a>
            </div>
            <!-- Detalhes do correio -->
            <div class="details">
                <!-- Informações do perfil -->
                <div class="profileInfo">
                    <h5>{{correio.name_}}</h5>
                    <h6>@{{correio.username}}</h6>
                </div>
                <!-- Conteúdo do correio -->
                <div class="cr-datas">
                    <h4>{{correio.title}}</h4>
                    <p>{{correio.post}}</p>
                    <!-- Imagem do correio -->
                    <div class="images">
                        <img src="/uploads/{{correio.imageName}}" alt="">
                    </div>
                </div>
                <!-- Formulário para adicionar comentário -->
                <div class="add-comment">
                    <h5>Deixe seu comentário</h5>
                    <form action="/home/correio/{{id}}/comment" method="POST">
                        <input type="text" name="comment" id="comment" required>
                        <button class="btn-comment" type="submit">Postar</button>
                    </form>
                </div>
                <!-- Lista de comentários -->
                {{#if comments.length}}
                <section class="comments">
                    <h2>Comentários</h2>
                    <!-- Iteração/Percorrendo sobre os comentários -->
                    {{#each comments}}
                    <div class="comment">
                        <!-- Cabeçalho do comentário -->
                        <div class="commentHeader">
                            <h5>{{this.username}}</h5>
                            <img src="/imgs/circle_.svg" alt="">
                            <span>{{formatDate this.created_at}}</span>
                        </div>
                        <!-- Conteúdo do comentário -->
                        <p>{{this.comment_}}</p>
                    </div>
                    {{/each}}
                </section>
                {{/if}}
            </div>
        </div>
    </section>
</main>