<header>
    <img src="/imgs/logo.svg" alt="">
</header>

<main>
    <section class="menu">
        <div class="options">
            <div class="option">
                <img src="/imgs/home-icon.svg" alt="">
                <a href="/home">Página Inicial</a>
            </div>
            <div class="option">
                <img src="/imgs/create-icon.svg" alt="">
                <a href="/create">Criar um correio</a>
            </div>
        </div>
        <hr class="divMenu">
        <div class="categories">
            <div class="option">
                <img src="/imgs/categorize-icon.svg" alt="">
                <h5>Categorias</h5>
            </div>
            <div class="category">
                <img src="/imgs/art-icon.svg" alt="">
                <a href="/home/category/Arte">Arte</a>
            </div>
            <div class="category">
                <img src="/imgs/cinema-icon.svg" alt="">
                <a href="/home/category/Cinema e Tv">Cinema e TV</a>
            </div>
            <div class="category">
                <img src="/imgs/science-icon.svg" alt="">
                <a href="/home/category/Ciências">Ciências</a>
            </div>
            <div class="category">
                <img src="/imgs/pop-icon.svg" alt="">
                <a href="/home/category/Cultura POP">Cultura pop</a>
            </div>
            <div class="category">
                <img src="/imgs/sport-icon.svg" alt="">
                <a href="/home/category/Esportes">Esportes</a>
            </div>
            <div class="category">
                <img src="/imgs/humor-icon.svg" alt="">
                <a href="/home/category/Humor">Humor</a>
            </div>
            <div class="category">
                <img src="/imgs/politics-icon.svg" alt="">
                <a href="/home/category/Política">Política</a>
            </div>
            <div class="category">
                <img src="/imgs/business-icon.svg" alt="">
                <a href="/home/category/Negócios">Negócios</a>
            </div>
        </div>
        <hr class="divMenu">
        <div class="logout">
            <div class="option">
                <img src="/imgs/logout-icon.svg" alt="">
                <a href="/logout">Sair</a>
            </div>
        </div>
    </section>
    <section class="container">
        {{#if category}}
        <h1>{{category}}</h1>
        {{else}}
        <h1>Welcome, {{user.username}}!</h1>
        {{/if}}

        {{#each correios}}
        <div class="card">
            <div class="cd-header">
                <div class="profileInfo">
                    <h5>{{name_}}</h5>
                    <h6>@{{username}}</h6>
                </div>
                <div class="details">
                    <div class="tagTheme">
                        <h6>{{category}}</h6>
                    </div>
                    <div class="actions">
                        <a href="/home/edit/{{id}}"><img src="/imgs/edit-icon.svg" alt=""></a>
                        <a href="/home/remove/{{id}}"><img src="/imgs/delete-icon.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <a href="/home/post/{{id}}">
                <div class="cd-body">
                    <h4>{{title}}</h4>
                    <p>
                        {{post}}
                    </p>
                    <div class="images">
                        <img src="/uploads/{{imageName}}" alt="">
                    </div>
                </div>
            </a>
            <hr class="divText">
            <div class="interactions">
                <label class="like">
                    <input type="checkbox">
                    <div class="checkmark">
                        <svg viewBox="0 0 256 256">
                            <rect fill="none" height="256" width="256"></rect>
                            <path
                                d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z"
                                stroke-width="10px" stroke="#F2F2F2" fill="none"></path>
                        </svg>
                    </div>
                </label>
                <a href="/home/post/{{id}}"><img src="/imgs/comment-icon.svg" alt=""></a>
                <img src="/imgs/save-icon.svg" alt="" id="save">
                <img src="/imgs/share-icon.svg" alt="">
            </div>
        </div>
        {{/each}}
    </section>
</main>